

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HelpDesk | SupportPanda | Reset Password</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg" style="background-color:dimgray">

        @if (ViewBag.IsPasswordLinkSent == null)
        {

            <div class="passwordBox animated fadeInDown">
                <div class="row">

                    <div class="col-md-12">
                        <div class="ibox-content">

                            <h2 class="font-bold">Forgot password</h2>

                            <p>
                                Please enter your registered email address. A password reset link along with instructions will be sent to your email address.
                            </p>

                            <div class="row">

                                <div class="col-lg-12">
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-danger" style="padding:5px;padding-left:10px; padding-right:10px;">
                                            <strong>@ViewBag.Error</strong>
                                        </div>
                                    }
                                    <form class="m-t" role="form" action="~/access/passwordreset" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Email address" required="">
                                        </div>

                                        <button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>

        }
        else
        {
                <div class="passwordBox animated fadeInDown">
                    <div class="ibox" style="width:500px;">
                        <div class="ibox-content" style="text-align:center;">
                            <div>
                                <img src="~/favicon.png" width="128" height="128" />
                            </div>

                            <h3 style="vertical-align:middle;"><i class="fa fa-check-circle-o text-success"></i>&nbsp;&nbsp;Password reset link sent successfully.</h3>
                            <p>We have sent you a mail with password reset link.<br />Please follow the instructions in the mail to reset your password.</p>
                            <hr />
                            <a href="~/access/authenticate" class="btn btn-default btn-rounded">Login</a>
                        </div>
                    </div>
                    </div>
        }



                <!-- Mainly scripts -->
                <script src="~/js/jquery-3.1.1.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>


</body>

</html>