

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HelpDesk | SupportPanda | Reset Password</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg" style="background-color:dimgray">

    @if (ViewBag.PasswordResetSuccess == null)
    {
        if (ViewBag.IsTokenValid != null && ViewBag.IsTokenValid)
        {
        <div class="passwordBox animated fadeInDown">
            <div class="row">

                <div class="col-md-12">
                    <div class="ibox-content">

                        <h2 class="font-bold">Reset password</h2>

                        <p>
                            Please provide new password.<br />
                            <small><i>Password must be atleast 6 characters long.</i></small>
                        </p>

                        <div class="row">

                            <div class="col-lg-12">
                                @if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-danger" style="padding:5px;padding-left:10px; padding-right:10px;">
                                        <strong>@ViewBag.Error</strong>
                                    </div>
                                }
                                <form class="m-t" role="form" action="~/access/resetpassword?id=@ViewBag.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@(ViewBag.Id != null ? ViewBag.Id : 0)" />
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="newpassword" placeholder="New Password" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password" required="">
                                    </div>
                                    <button type="submit" class="btn btn-primary block full-width m-b">Reset password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }
        else
        {
        <div class="passwordBox animated fadeInDown">
            <div class="ibox" style="width:500px;">
                <div class="ibox-content" style="text-align:center;">
                    <div>
                        <img src="~/favicon.png" width="128" height="128" />
                    </div>

                    <h3 style="vertical-align:middle;" class="text-danger"><i class="fa fa-ban"></i>&nbsp;&nbsp;Invalid Token or Reset link expired.</h3>
                    <p class="text-danger">The link you are using to reset the password is invalid or expired.Please not password reset links are valid only for 24 hours.</p>
                    <hr />
                    <a href="~/access/authenticate" class="btn btn-default btn-rounded">Login</a>
                </div>
            </div>
        </div>
        }
    }
    else
    {
        <div class="passwordBox animated fadeInDown">
            <div class="ibox" style="width:500px;">
                <div class="ibox-content" style="text-align:center">
                    <div>
                        <img src="~/favicon.png" width="128" height="128" />
                    </div>
                   
                    <p><h2><i class="fa fa-check-circle-o text-success"></i>&nbsp;&nbsp;Password reset successful.</h2></p>
                    <p>You will be redirected to the login page in a moment.Please login with the new password</p>
                    <hr />
                    <a href="~/access/authenticate" class="btn btn-default btn-rounded">Login</a>
                </div>
            </div>
            </div>
    }



            <!-- Mainly scripts -->
            <script src="~/js/jquery-3.1.1.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>

    @if (ViewBag.PasswordResetSuccess != null)
    {
        <script type="text/javascript">
            setTimeout(function () {
                window.location.href = "/access/authenticate";
            }, 10000);
        </script>
    }
</body>

</html>