<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="SupportPanda.Core.ILogger, SupportPanda.Core"
             mapTo="SupportPanda.Core.Logger, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.IRepository, SupportPanda.Core"
              mapTo="SupportPanda.Core.Repository, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.IAuthenticationManager, SupportPanda.Core"
             mapTo="SupportPanda.Core.AuthenticationManager, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.IAccessController, SupportPanda.Core"
          mapTo="SupportPanda.Core.AccessController, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.IEmailService, SupportPanda.Core"
          mapTo="SupportPanda.Core.EmailService, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.ITemplateService, SupportPanda.Core"
        mapTo="SupportPanda.Core.TemplateService, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.IClientController, SupportPanda.Core"
      mapTo="SupportPanda.Core.ClientController, SupportPanda.Core">
    </register>
    <register type="SupportPanda.Core.IRolesManager, SupportPanda.Core"
        mapTo="SupportPanda.Core.RolesManager, SupportPanda.Core">
    </register>
  </container>
</unity>